﻿<div class="container-fluid" ng-show="vm.canShow()">
    <div class="sidebar left">
        <img src="content/ClientBFA.png" ng-click="vm.toggleCurrent()" />
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Client Billing Fee Agreements</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span ng-hide="vm.bfas.length > 0">There are no Billing Fee Agreements assigned to this client.</span>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="bfa in vm.bfas">{{bfa.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Assign Billing Fee Agreement</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="vm.save()">
                            <div class="row form-group">
                                <label class="col-md-3 col-sm-6 control-label" for="bfa">Billing fee agreement:</label>
                                <label class="col-md-3 col-sm-6 control-label" for="amount">Amount:</label>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-sm-6">
                                    <select class="form-control" ng-disabled="vm.shouldDisableSaveBFA()" ng-model="vm.newBFA.selectedBFA" ng-options="bfa as bfa.billingName for bfa in vm.shared.firmBFAs" id="bfa"></select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" ng-disabled="vm.shouldDisableSaveBFA()" type="number" ng-change="vm.amountChanged(vm.newBFA.amount)" ng-model="vm.newBFA.amount" id="amount" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3 col-sm-6 control-label" for="staff">Staff for notification:</label>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-sm-6">
                                    <select class="form-control" ng-model="vm.newBFA.staff" ng-options="staff as staff.name for staff in vm.staffs" id="staff"></select>
                                </div>
                            </div>
                            <button class="btn btn-default" ng-disabled="vm.shouldDisableSaveBFA()" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>