﻿<div class="container-fluid" ng-show="vm.canShow()">
    <div class="sidebar left">
        <img src="content/FirmBFA.png" ng-click="vm.toggleCurrent()" />
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Firm Billing Fee Agreements</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="bfa in vm.shared.firmBFAs">{{bfa.billingName}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-sm-12">
                        <h3>Create Billing Fee Agreement</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="vm.create()">
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="bfaName">Name:</label>
                                    <input class="form-control" type="text" id="bfaName" name="bfaName" ng-model="vm.bfaName" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label>Fee Type:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="vm.bfaFeetype" value="1">
                                        Bill WIP at standard
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="vm.bfaFeetype" value="2">
                                        Bill WIP at billing fee amount
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="vm.bfaFeetype" value="3">
                                        Bill time at standard + expenses at fixed fee
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" ng-model="vm.bfaFeetype" value="4">
                                        Bill expenses at standard + time at fixed fee
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-default" type="submit" style="margin-top: 10px;">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>