﻿<div>
    <div class="lamehole panel panel-default" ng-style="{width: vm.v ? 300 : 50 + 'px'}">
        <div class="panel-heading" ng-click="vm.v = !vm.v">
            <h3 class="panel-title">
                <div class="wiggle" style="display: inline-block; color: red"><span class="glyphicon glyphicon-heart"></span></div><span ng-show="vm.v">&nbsp;Ventripal</span>
            </h3>
        </div>
        <div class="panel-body" ng-show="vm.v">
            <!-- Chat Mode -->
            <div class="panel-body" ng-show="vm.chatMode">
                <div id="discussion"></div>
                <form>
                    <input type="text" id="message" />
                    <input type="submit" id="sendmessage" name="Send">
                    <p id="toggleuser">                   <br /></p>
                </form>
                <button ng-click="vm.chatMode = false">Close</button>
            </div>
            <!-- Faq1 Mode -->
            <div class="panel-body" ng-show="vm.faqMode[0]">
                <h4>{{vm.shared.faqs[0].question}}</h4>
                <span>{{vm.shared.faqs[0].answer}}</span>
                <br /><button ng-click="vm.faqMode[0] = false">Close</button>
            </div>
            <!-- Faq2 Mode -->
            <div class="panel-body" ng-show="vm.faqMode[1]">
                <h4>{{vm.shared.faqs[1].question}}</h4>
                <span>{{vm.shared.faqs[1].answer}}</span>
                <br /><button ng-click="vm.faqMode[1] = false">Close</button>
            </div>
            <!-- Faq3 Mode -->
            <div class="panel-body" ng-show="vm.faqMode[2]">
                <h4>{{vm.shared.faqs[2].question}}</h4>
                <span>{{vm.shared.faqs[2].answer}}</span>
                <br /><button ng-click="vm.faqMode[2] = false">Close</button>
            </div>
            <!-- Normal Mode -->
            <div class="panel-body" ng-hide="vm.chatMode || vm.faqMode[0] || vm.faqMode[1] || vm.faqMode[2]">
                <!-- attention -->
                <div ng-show="vm.shared.attention">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<span style="font-weight: bold">We've noticed something</span>
                        </div>
                        <div class="panel-body">
                            <span>The <em>Amount</em> you entered is exceptionally high! Can you double-check it?</span>
                            <br /><button ng-click="">Acknowledge</button>
                        </div>
                    </div>
                </div>
                <!-- tip -->
                <div ng-hide="vm.shared.attention">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-info-sign"></span><span>&nbsp;Tip of the day: {{vm.totd}}</span>
                        </div>
                    </div>
                </div>
                <!-- top3faq -->
                <div ng-hide="vm.shared.attention">
                    <h4 ng-click="vm.wiggle()">FAQs</h4>
                    <ul class="">
                        <li class="" ng-repeat="(index, faq) in vm.shared.faqs">Q: <span class="link" ng-click="vm.faqMode[index] = true">{{faq.question}}</span></li>
                    </ul>
                </div>
                <!-- forums -->
                <div ng-hide="vm.shared.attention">
                    <a href="https://forums.gentoo.org/">Visit user forums</a>
                </div>
                <!-- livechat -->
                <div ng-hide="vm.shared.attention">
                    <button ng-click="vm.chatMode = true">Chat with a representative</button>
                </div>
                <!-- collab -->
                <div ng-hide="vm.shared.attention">
                    <button onclick="TogetherJS(this); return false;">Collaborate with a teammate</button>
                </div>
                <!-- feedback -->
                <div ng-hide="vm.shared.attention">
                    <br />
                    <h4>Feedback on this screen</h4>
                    <span>
                        Rate this page:
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                    <form ng-submit="vm.sendWishes(vm.wishes)" ng-disabled="vm.feedbackDisabled" name="wishesForm">
                        <label>I wish this page...<input type="text" ng-model="vm.wishes" name="wishes" ng-disabled="vm.feedbackDisabled"/></label>
                        <input ng-if="wishesForm.wishes.$dirty" type="submit" class="btn btn-default" name="Send" ng-disabled="vm.feedbackDisabled"/>
                    </form>
                    <br/>
                </div>
                <!-- achievements -->
                <div ng-hide="vm.shared.attention">
                    <span style="font-size: x-small">Recent achievements:&nbsp;</span>
                    <span title="You've logged in for the first time! 100% of users earned this." style="color: brown"><span class="glyphicon glyphicon-off"></span></span>
                    <span title="You've watched the tutorial video! 34% of users earned this." style="color: silver"><span class="glyphicon glyphicon-film"></span></span>
                    <span title="You've created a Billing Fee Agreement! 1.8% of users earned this." style="color: gold" ng-if="vm.shared.firmBFAs.length"><span class="glyphicon glyphicon-usd"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
