﻿.affix, .affix-top {
    position: static;
}

.lamehole {
    position: fixed;
    z-index: 5000;
    top: 30px;
    right: 0;
}

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left: auto;
    width: 220px; /* width of sidebar */
}

.left {
    float: left;
}

.right {
    float: right;
}

.container-fluid > .content {
    margin: 0 240px; /* width of sidebars + 10px of margin */
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: cornflowerblue;
}
